@font-face {
  font-family: 'Helvetica Neue Condensed Bold';
  src: url('./fonts/Helvetica\ Neue\ Condensed\ Bold.ttf') format('ttf');
}

body {
  background-color: black;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue Condensed Bold', sans-serif;
}

.logo {
  width: 200px;
  height: auto;
}

.hero {
  position: relative;
  min-height: calc(100vh - 147px);
  background-image: url(../images/hero.jpeg);
  background-size: contain;  /* Make sure the entire image is contained */
  background-repeat: no-repeat;  /* Do not repeat the image */
  background-position: center;  /* Center the background image */
  margin-top: 5%;
  margin-bottom: 5%;
}

.hero-heading {
  font-size: 3rem;
  text-transform: uppercase;
}

.section-heading {
  font-size: 3rem;
  text-transform: uppercase ;
  font-weight: 600;
}

.section-subheading {
  font-size: 2.5rem;
  color: #789D4A;
  text-transform: uppercase;
  font-weight: 600;
}

.section-whatwedo-subheading {
  font-size: 2.2rem;
  color: #789D4A;
  text-transform: uppercase;
  font-weight: 600;
}


.text-main {
  color: #789D4A
}

.bottom-left-list {
  list-style-type: none; /* Remove bullets */
  margin-bottom: 50px; /* Add margin to the bottom */
  position: absolute; /* Position absolutely within the container */
  left: 0; /* Align to the right of the container */
}


.bottom-right-list {
  list-style-type: none; /* Remove bullets */
  margin-bottom: 50px; /* Add margin to the bottom */
  position: absolute; /* Position absolutely within the container */
  right: 5%; /* Align to the right of the container */
  top: 30%;
  background-color: rgba(0, 0, 0, .25); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  padding: 2rem;
  border-radius: 2%;
}

.bottom-right-list li {
  line-height: 1;
}

.custom-col {
  flex: 1;
  min-width: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.border-main {
  border-top: #789D4A 3px solid;
}

/* Medium screens (>=768px) */
@media (min-width: 768px) {
  .logo {
    width: 250px;
  }

  .hero-heading {
    font-size: 3.25rem;
  }
}


/* Large screens (>=768px) */
@media (min-width: 992px) {
  .logo {
    width: 300px;
  }
  .hero-heading {
    font-size: 4.25rem;
  }
}

/* Extra Large screens (>= 1200px) */
@media (min-width: 1200px) {
  .logo {
      width: 400px;
  }
}



.custom-input::placeholder {
  color: white;
}

.nav-link {
  font-size: 24px;
  font-family: 'Helvetica Neue Condensed Bold', sans-serif;
  font-weight: bold;
  color: white !important;
}

.nav-link:hover {
  color: #789D4A !important;
  text-decoration: underline;
}